.findRestaurant {
  background-color: var(--light-bg);
  margin: 0 1em 0.5em 1em;
  padding: 0.1em 0;
  border-radius: 1em;

}
.findRestaurant h2 {
  color: rgb(255, 255, 255);
  padding: 0.5em;
  margin: 0;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
}

.restaurantList{
  background-color: var(--light-bg);
  margin: 0 1em;
  padding: 0.1em 0;
  border-radius: 1em;

}
